.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  padding: 0;
  height: 100vh;
}

.top-posts {
  position: absolute;
  top: 68px;
  left: 0;
  width: 600px;
  height: 100%;
  background-color: #1471f4;
}

.feed {
  position: absolute;
  top: 66px;
  left: 604px;
  width: 916px;
  height: 100%;
  background-color: #f41414;
}

.friends {
  position: absolute;
  top: 68px;
  left: 1520px;
  width: 400px;
  height: 100%;
  background-color: #1471f4;
}

.media1 {
  width: 450px;
  height: 250px;
  margin-left: 50px;
  margin-top: 370px;
  position: relative;
  background-color: #FF0000;
}

.media1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}